
PolidomApplication/Polidom.Data/obj/Debug/netcoreapp3.1/Polidom.Data.assets.cache
PolidomApplication/PolidomApplication/obj/Debug/netcoreapp3.1/PolidomApplication.assets.cache
PolidomApplication/PolidomApplication/obj/Debug/netcoreapp3.1/PolidomApplication.assets.cache
PolidomApplication/PolidomApplication/obj/Debug/netcoreapp3.1/PolidomApplication.assets.cache
